:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;

}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.hover__background:hover{
    background-color: #ebebeb;
}

.hover--primary:hover{
    color: rgba(238, 77, 45,0.8);
    cursor: pointer;
}

.hover:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
    /* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

 /* btn  */
 .btn{
    min-width: 142px;
    height: 36px;
    padding: 0 12px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    /* background-color: #000;
    color: #fff;
    display: inline-block; */
    color: var(--text-color);
    /* margin-top: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--size-s{
    height: 30px;
    padding: 0 8px;
    font-size: 1.2rem;
}
.btn.btn--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--normal:hover{
    background-color: rgb(0, 0, 0, .1);
    cursor: pointer;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.clear{
    clear : both;  
}

.text-center{
    text-align: center !important;
}

.text-white{
    color :white !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1{
    width: 100%;
}

.col-2{ 
    width: 50%;
}

.col-3{
    width: 33.333%;
}

.mt-8{
    margin-top: 8px !important;
}    

.mt-16{
    margin-top: 16px !important;
}

.pull-right{
    float: right !important;
}
 /* modal  */
 .modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   display: flex;
}
.modal__overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
   position: relative;
   /* background-color: var(--white-color); */
   margin: auto;
   z-index: 1;
   /* border-radius: 5px; */
}
