:root {
    --star-gold-color: #ffce3e;
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;

}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
    /* responsive  */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
        /* test */
.grid__collumn-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;

}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__collumn-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.332%;

}

.hover__background:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.hover__background--primary:hover{
    background-color: rgba(233, 82, 52, 0.8) !important;
    cursor: pointer;
}
.hover--primary:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.hover:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
    /* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
       transform: scale(var(--growth-to));
    }
}

 /* btn  */
 .btn{
    line-height: 1.6rem;
    min-width: 142px;
    height: 34px;
    padding: 0 12px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    background-color: #fff  ;
   /* color: #fff;
    display: inline-block; */
    color: var(--text-color);
    /* margin-top: 15px; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn--size-s{
    height: 30px;
    padding: 0 8px;
    font-size: 1.2rem;
}
.btn.btn--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--normal:hover{
    background-color: rgb(0, 0, 0, .1);
    cursor: pointer;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.clear{
    clear : both;  
}

.text-center{
    text-align: center !important;
}

.text-white{
    color :white !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1{
    width: 100%;
}

.col-2{ 
    width: 50%;
}

.col-3{
    width: 33.333%;
}

.mt-8{
    margin-top: 8px !important;
}    

.mt-16{
    margin-top: 16px !important;
}

.pull-right{
    float: right !important;
}
 /* modal  */
 .modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   display: flex;
}
.modal__overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   animation: fadeIn linear 0.1s;
}
.modal__body{
    --growth-from: 0.5;
    --growth-to: 1;
   position: relative;
   /* background-color: var(--white-color); */
   margin: auto;
   z-index: 1;
   /* border-radius: 5px; */
   animation: growth linear 0.1s;
}
.seclect-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.seclect-input:hover .seclect-input__list{
    display: block;
}
.seclect-input__label{
    font-size: 1.4rem;

}
.seclect-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    /* margin: 0 16px; */
    position: relative;
    top: 1px;
}

.seclect-input__list{
    display: none;
    position: absolute;
    top: calc(100% + -9px);
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    z-index: 1;
}
.seclect-input__link{
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px 0; 
    color: var(--text-color);
}
 /* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 16px;
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.pagination-item--active a{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}
.pagination-item__icon{

}
.pagination-item--active .pagination-item__link:hover{
    background-color: #eb7a63;
}