.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

    /* navbar  */
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar__item{
    margin: 0 8px ;
    position: relative;
    min-height: 26px;
}

.navbar__item,
.navbar__link{
    font-size: 1.4rem;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar__icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.navbar__item,
.navbar__link,
.navbar__icon-link{
    display: inline-flex;
    align-items: center;
}


.navbar__item--strong{
    font-weight: 400;
}

.navbar__item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086 ;
    height: 14px; 
    right: -9px;
    top: 50%;
    transform: translateY(-50%);  
}

    /* QR code  */
.navbar__qr{
    display: none;
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.3s;
}

.navbar__qr::before{
    position: absolute;
    width: 100%;
    height: 18%;
    content: "";
    display: block;
    left: 0;
    top: -17px;
}

.navbar__qr-img{
    width: 100%;
}

.navbar__qr-apps{
    display: flex;
    justify-content: space-between;

}

.navbar__qr-link:first-child{
    margin-left: 11px;
}

.navbar__qr-link:last-child{
    margin-right: 11px;
}

.navbar__qr-apps-img{
    height: 16px;
}

.navbar__item--has-qr:hover .navbar__qr{
    display: block;
}

